body{
    background-color: silver;
    color: lightgreen;
    text-align: center;
}
h1{
    color: lightgreen;
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
h3{
    color: gold;
    text-align: center;
}
hr{
    width: 50%;
    margin: auto;
}